ul {
    margin-top:0;
    width: 100vw;
    background-color: lightblue;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    li{
        list-style-type: none;
        a {
            margin-right: 2rem;
            text-decoration: none;
            color: rgb(54, 82, 91);
            font-weight: bolder;

            &:hover {
                color: black;
            }
        }
    }
}